<!DOCTYPE html>
<html lang="kr">



<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!-- 부트스트랩 호출 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- 글꼴 호출 -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Get it Hair</a>
        </div><div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#main">MAIN</a></li>
                    <li><a href="#">헤어샵</a></li>
                    <li><a href="#">스타일</a></li>
                    <li><a href="#user">마이페이지</a></li>
                    <li><a href="#designer">마이페이지</a></li>
                    <li><a href="#">Admin Page</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">회원가입</a></li>
                    <li><a href="#">로그인</a></li>
                    <li><a href="#">로그아웃</a></li>
                </ul>
            </div><!--/.nav-collapse -->
      </div>
    </nav>

</body>

</html>
